<%= form_tag("/analysis/result", method: "get") do %>
<%= hidden_field_tag 'gear_type', 'IGH' %>
<div class="input-group">
	<span class="input-group-addon">Gear Ratio</span>
	<%= text_field_tag :gear_ratio, nil, class: "form-control", placeholder: "0.279,0.316,0.36,0.409,0.464,0.528,0.6,0.682,0.774,0.881,1,1.135,1.292,1.467", value: "0.279,0.316,0.36,0.409,0.464,0.528,0.6,0.682,0.774,0.881,1,1.135,1.292,1.467" %>
</div>
<br>
<div class="input-group">
	<span class="input-group-addon">Chainring</span>
	<%= text_field_tag :chainring, nil, class: "form-control", placeholder: "40", value: "40" %>
	<span class="input-group-addon">Sprocket</span>
	<%= text_field_tag :sprocket, nil, class: "form-control", placeholder: "16", value: "16" %>
</div>
<br>
<%= submit_tag "Analyze", class: "btn btn-default pull-right" %>
<% end %>