<%= render partial: 'shared/gear_ratio_chart', handlers: [:erb], formats: [:js], locals: {drivetrain: drivetrain} %>
<%= render partial: 'shared/gear_spacing_chart', handlers: [:erb], formats: [:js], locals: {drivetrain: drivetrain} %>

<div class="page-header">
	<h1>Results</h1><%= link_to raw("<span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span> Back"), "setup", class: "btn btn-default pull-right", role: "button" %>
	<p class="lead">Your configuration leads to the following results.</p>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="stats-vales-col col-md-12 text-center">
					<div class="col-md-4">
						<div class="col-md-12">
							<span class="gear-range-value stats-value">
								<strong><%= number_to_percentage(drivetrain.gear_range*100, precision: 2) %></strong>
							</span>
						</div>
						<div class="col-md-12">
							<span class="gear-range-title lead">Gear Range</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="col-md-12">
							<span class="gear-spacing-variance-value stats-value">
								<strong><%= number_with_precision(standard_deviation(drivetrain.gear_spacing), precision: 3) %></strong>
							</span>
							</div>
						<div class="col-md-12">
							<span class="gear-range-title lead">Gear Spacing σ</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Gear Ratio</h3>
			</div>
			<div class="panel-body">
				<div id="gear_ratios_chart"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Gear Spacing</h3>
			</div>
			<div class="panel-body">
				<div id="gear_spacing_chart"></div>
			</div>
		</div>
	</div>
</div>
