<%= form_tag("/analysis/result", method: "get") do %>
<%= hidden_field_tag 'description', 'DG' %>
<div class="form-group col-md-12">
	<%= label_tag "Derailleur Gear", nil, class: "col-md-3" %>
	<div class="col-md-9">
		<%= select_tag(:id, options_from_collection_for_select(DerailleurGear.all, :id, :description)) %>
	</div>
</div>
<div class="form-group">
	<%= submit_tag "Analyze", class: "btn btn-default pull-right col-md-1 col-md-offset-11" %>
</div>
<% end %>

