<%= form_tag("/internal-gear-hub-analysis/result", method: "post") do %>
<%= hidden_field_tag 'custom', true %>
<%= hidden_field_tag 'internal_gear_hub[description]', 'Custom' %>
<div class="form-group col-md-12">
	<%= label_tag :gear_ratio, nil, class: "col-md-3" %>
	<div class="col-md-9">
		<% @gear_ratio_placeholder.each do |placeholder| %>
		<%= number_field_tag "internal_gear_hub[" + :gear_ratio.to_s + "][]", nil, min: 0.0, max: 10.0, step: 0.001, placeholder: placeholder, value: placeholder %>
		<% end %>
	</div>
</div>
<div class="form-group col-md-12">
	<div class="col-md-3"><%= label_tag :chainring, nil %></div>
	<div class="col-md-2"><%= number_field_tag "internal_gear_hub[" + :chainring.to_s + "]", nil, min: 1, max: 99, placeholder: "40", value: "40" %></div>
</div>
<div class="form-group col-md-12">
	<div class="col-md-3"><%= label_tag :sprocket, nil %></div>
	<div class="col-md-2"><%= number_field_tag "internal_gear_hub[" + :sprocket.to_s + "]", nil, min: 1, max: 40, placeholder: "16", value: "16" %></div>
</div>
<div class="form-group">
	<%= submit_tag "Analyze", class: "btn btn-default pull-right" %>
</div>
<% end %>