<%= form_for(@internal_gear_hub) do |f| %>
  <% if @internal_gear_hub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@internal_gear_hub.errors.count, "error") %> prohibited this internal_gear_hub from being saved:</h2>

      <ul>
      <% @internal_gear_hub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :gear_ratio %><br>
    <%= f.text_field :gear_ratio %>
  </div>
  <div class="field">
    <%= f.label :chainring %><br>
    <%= f.number_field :chainring %>
  </div>
  <div class="field">
    <%= f.label :sprocket %><br>
    <%= f.number_field :sprocket %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
