<h1>Listing internal_gear_hubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gear ratio</th>
      <th>Chainring</th>
      <th>Sprocket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internal_gear_hubs.each do |internal_gear_hub| %>
      <tr>
        <td><%= internal_gear_hub.name %></td>
        <td><%= internal_gear_hub.gear_ratio %></td>
        <td><%= internal_gear_hub.chainring %></td>
        <td><%= internal_gear_hub.sprocket %></td>
        <td><%= link_to 'Show', internal_gear_hub %></td>
        <td><%= link_to 'Edit', edit_internal_gear_hub_path(internal_gear_hub) %></td>
        <td><%= link_to 'Destroy', internal_gear_hub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internal gear hub', new_internal_gear_hub_path %>
