<%= form_for(@derailleur_gear) do |f| %>
  <% if @derailleur_gear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@derailleur_gear.errors.count, "error") %> prohibited this derailleur_gear from being saved:</h2>

      <ul>
      <% @derailleur_gear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :chainring %><br>
    <%= f.text_field :chainring %>
  </div>
  <div class="field">
    <%= f.label :cassette %><br>
    <%= f.text_field :cassette %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
