<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @derailleur_gear.description %>
</p>

<p>
  <strong>Crankset:</strong>
  <%= @derailleur_gear.crankset %>
</p>

<p>
  <strong>Cassette:</strong>
  <%= @derailleur_gear.cassette %>
</p>

<%= link_to 'Edit', edit_derailleur_gear_path(@derailleur_gear) %> |
<%= link_to 'Back', derailleur_gears_path %>
