<%= form_for @derailleur_gear, url: analysis_derailleur_gear_path do |f| %>
	<%= hidden_field_tag "custom", true %>
	<%= f.hidden_field :description %>

	<div class="form-group col-md-12">
		<%= f.label :crankset, class: "col-md-3" %>
		<div class="col-md-9">
			<% DerailleurGear::CRANKSET_PLACEHOLDER.each do |placeholder| %>
			<%= f.number_field :crankset, multiple: true, min: DerailleurGear::CRANKSET_MIN, max: DerailleurGear::CRANKSET_MAX, placeholder: placeholder, value: placeholder %>
			<% end %>
		</div>
	</div>

	<div class="form-group col-md-12">
		<%= f.label :cassette, class: "col-md-3" %>
		<div class="col-md-9">
			<% DerailleurGear::CASSETTE_PLACEHOLDER.each do |placeholder| %>
			<%= f.number_field :cassette, multiple: true, min: DerailleurGear::CASSETTE_MIN, max: DerailleurGear::CASSETTE_MAX, placeholder: placeholder, value: placeholder %>
			<% end %>
		</div>
	</div>

	<div class="form-group">
		<%= f.submit "Analyze", class: "btn btn-default pull-right" %>
	</div>
<% end %>



