<!DOCTYPE html>
<html>
<head>
	<title>Granny Gear</title>
	<%= javascript_include_tag "//www.google.com/jsapi" %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<!-- Begin page content -->
	<div class="container">
		<%= yield %>
	</div>

	<footer id="footer" class="footer">
		<div class="container">
			<p class="text-muted">Granny Gear | tbinna | &copy; <%= Time.now.year %></p>
		</div>
	</footer>
</body>
</html>
